:root {
  --dark-purple-color: #6859f2; // button gradient start 
  --purple-color: #6577ff; // button text
  --light-purple-color: #4e8cff; // button gradient end
  --white-color: #fff; // button gradient end
}
