:root {
  --background-color: #071035;
  --dark-purple-color: #6859f2; // button gradient start 
  --purple-color: #6577ff; // button text
  --light-purple-color: #4e8cff; // button gradient end
  --white-color: #fff; // button gradient end
  --dark-gray-color: #293345; // row separator in tables
  --light-gray-color: #7a8495; // table sub-content
  --dark-orange-color: #FA5746; // categorize, mid important things like an premium race icon color, xp bar
}
