:root {

  // font weights
  --regular-font-weight: 300;
  --medium-font-weight: 400;
  --bold-font-weight: 600;
  --heavy-font-weight: 700;

  //font sizes
  --very-important-font-size: 1.6rem;
  --important-font-size: 1.4rem;
  --normal-font-size: 1.3rem;
  --hint-font-size: 1.2rem;
}
