:root {

  // font weights
  --regular-font-weight: 300;
  --medium-font-weight: 400;
  --bold-font-weight: 600;
  --heavy-font-weight: 700;

  //font sizes
  --graphic-big-font-size: 3rem;
  --graphic-small-font-size: 2rem;
  --headline-font-size: 2.4rem;
  --very-important-font-size: 1.6rem;
  --more-important-font-size: 1.5rem;
  --important-font-size: 1.4rem;
  --normal-font-size: 1.3rem;
  --hint-font-size: 1.2rem;

  //line-heights
  --headline-line-height: 3.6rem;
  --graphic-big-line-height: 3.6rem;
  --graphic-small-line-height: 2.6rem;
}
