
.sg-header__right {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
}

.sg-header__right svg {
  height: 4rem;
  margin: 1rem 0.5rem;
  width: 4rem;
}

.sg-header__right svg path {
  fill: white !important;
}
