.sg-header {
  background: #fff;
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  height: 4.4rem;
  left: 0;
  padding: 0.8rem 1.2rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 90;
}

.sg-header img {
  margin-left: -1rem;
  width: 5rem;
}
