/*html {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  line-height: 1;
}*/

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

body {
  background: #ededed;
  color: #4a4a4a;
}