.ygr-item-heading {
    text-transform: uppercase;
    border-bottom: 1px solid #d1d1d1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(189, 189, 189);
    margin-bottom: 1.1rem;
    padding-bottom: 0.3rem;
  }

.ygr-item-group {
  margin-bottom: 3rem;
}