.ygr-single-action-btn {
  background-clip: content-box, border-box;
  background-image:
    linear-gradient(white, white),
    linear-gradient(
      to right,
      var(--dark-purple-color),
      var(--light-purple-color)
    );
  background-origin: border-box;
  border: solid 1px transparent;
  border-radius: 3px;
  color: var(--purple-color);
  cursor: pointer;
  font-weight: var(--bold-font-weight);
  height: 4.4rem;
  line-height: 4.6rem;
  padding: 0;
  text-transform: uppercase;
  width: 14rem;

  &:focus {
    outline: 0;
  }
}
