$button-font-color: var(--purple-color);
$button-font-color-hover: var(--white-color);

.ygr-single-action-btn {
  align-items: center;
  background-clip: content-box, border-box;
  background-color: transparent;
    /* stylelint-disable */ // is buggy for linear gradient definitions
  background-image: linear-gradient(#0d1533, #0d1533),
    linear-gradient(
      to right,
      var(--dark-purple-color) 0%,
      var(--light-purple-color)
    );
  /* stylelint-enable */
  background-origin: border-box;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: $button-font-color;
  cursor: pointer;
  display: flex;
  font-size: var(--very-important-font-size);
  font-weight: var(--bold-font-weight);
  height: 4.4rem;
  justify-content: center;
  line-height: 4.5rem;
  padding: 0;
  //padding: 0 2.1rem;

  &::before {
    content: " ";
    display: inline-block;
    padding-right: 2.1rem;
  }

  &::after {
    content: " ";
    display: inline-block;
    padding-left: 2.1rem;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background-clip: content-box, border-box;
    background-image:
      linear-gradient(
        to right,
        var(--dark-purple-color),
        var(--light-purple-color)
      ),
      linear-gradient(
        to right,
        var(--dark-purple-color) 0%,
        var(--light-purple-color)
      );
    background-origin: border-box;
    //border: 1px solid var(--dark-purple-color);
    color: $button-font-color-hover;

    & .ygr-single-action-btn__svg {
      & path {
        fill: $button-font-color-hover;
      }
    }
  }

  &__icon {
    display: inline-block;
    height: 1.6rem;
    margin-top: -0.5rem;
    position: relative;
    width: 2.6rem;

    & > .fa {
      left: 0;
      position: absolute;
      top: 0.2rem;
    }
  }

  &__svg {
    height: 1.6rem;
    left: 0;
    position: absolute;
    top: 0.1rem;

    & path {
      fill: $button-font-color;
    }
  }
}
