$button-font-color: var(--purple-color);
$button-font-color-hover: var(--white-color);

.ygr-single-action-btn {
  background-color: white;
  border: solid 1px;
  border-image: linear-gradient(to right, var(--dark-purple-color) 0%, var(--light-purple-color) 100%) 1px;
  border-radius: 4px;
  color: $button-font-color;
  cursor: pointer;
  font-weight: var(--bold-font-weight);
  height: 4.4rem;
  line-height: 4.5rem;
  padding: 0 2.1rem;

  &:focus {
    outline: 0;
  }

  &:hover {
    background: linear-gradient(to right, var(--dark-purple-color) 0%, var(--light-purple-color) 100%);
    color: $button-font-color-hover;

    & svg {
      & path {
        fill: $button-font-color-hover;
      }
    }
  }

  &__icon {
    height: 1.6rem;
    width: 1.6rem;
    display: inline-block;
    position: relative;
  }

  & svg {
    height: 1.8rem;
    position: absolute;
    left: 0px;
    top: 0.1rem;

    & path {
      fill: $button-font-color;
    }
  }
}
