$area-section-padding: 1.5rem;

.ygr-area-section {
  align-items: stretch;
  display: flex;
  flex-direction: row;

  &__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 $area-section-padding;

    &:last-child {
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  &__row {
    display: flex;
    flex: 1;
    margin: $area-section-padding 0;
    position: relative;

    & > * {
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &--gapless {
    margin: 0;

    .ygr-area-section__column,
    .ygr-area-section__row {
      margin: 0;
      padding: 0;
    }
  }

  &__text {
    left: 2.9rem;
    position: absolute;
    top: 4rem;
    width: calc(100% - 5.8rem); //2 times 2.9

    &--bottom {
      bottom: 4rem;
      top: unset;
    }
  }

  &__category {
    color: var(--white-color);
    font-size: var(--hint-font-size);
    letter-spacing: 2.5px;
    line-height: var(--hint-font-size);
    margin-bottom: 1.7rem;
    text-transform: uppercase;
  }

  &__topic {
    color: var(--white-color);
    font-size: var(--graphic-big-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--graphic-big-line-height);
    margin-bottom: 1.2rem;

    &--small {
      font-size: var(--graphic-small-font-size);
      line-height: var(--graphic-small-line-height);
    }
  }

  &__description {
    color: var(--white-color);
    font-size: var(--important-font-size);
    line-height: var(--graphic-small-line-height);
  }
}
