.ygr-content-with-sidebar {
  display: flex;
  flex-direction: row;
  min-height: 100%;

  &__sidebar {
    height: 100%;
    position: fixed;
  }

  &__content {
    background-color: $body-background-color;
    margin-left: var(--left-sidebar-width);
    width: calc(100% - var(--left-sidebar-width));
  }

  &__content-inner {
    min-height: 100vh;
    padding: calc(var(--nav-top-height) + 5rem) var(--padding-content) var(--padding-content-bottom) var(--padding-content);
  }
}
