.ygr-footer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: var(--hint-font-size);
  justify-content: center;
  text-align: center;

  &__text {
    flex: 1;
    margin-bottom: 2rem;
    text-align: left;
  }

  &__right-side {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__link-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
  }

  &__link {

  }

  &__link-separator {
    margin: 0 1.7rem;

    &::before {
      content: '';
    }
  }

  .ygr-icon-list {
    display: none;
  }

  @media screen and (min-width: 1516px) {
    .ygr-icon-list {
      display: flex;
    }
  }
}
