$row-separator-color: var(--dark-gray-color);
$subtext-hint-color: var(--light-gray-color);
$text-color: var(--white-color);

.ygr-table {
  display: flex;
  flex-flow: column;

  &__row {
    border-bottom: 1px $row-separator-color solid;
    display: flex;
    flex-flow: row;
    padding: 2.6rem 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  & [class="ygr-table__row"]:last-of-type {
    border-bottom: none;
  }

  &__category-image,
  &__content-lead,
  &__content,
  &__actions {
    align-self: center;
    flex-grow: 1;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__content-text {
    color: $text-color;
    font-size: var(--important-font-size);
    font-weight: var(--medium-font-weight);
  }

  &__content-subtext {
    color: $subtext-hint-color;
    font-size: var(--hint-font-size);
    font-weight: var(--normal-font-weight);
  }

  &__content-hint {
    color: $subtext-hint-color;
  }

  &__category-image {
    flex-grow: 0.3;

    & svg {
      height: 4rem;
      margin-top: 1rem;

      & path {
        fill: var(--dark-orange-color);
      }
    }
  }

  &__content-lead {
    flex-grow: 3;
  }

  &__content {
  }

  &__actions {
    flex-grow: 0.5;
    text-align: end;
  }
}
