$row-separator-color: var(--dark-gray-color);
$subtext-hint-color: var(--light-gray-color);
$text-color: var(--white-color);

.ygr-table {
  display: flex;
  flex-flow: column;

  &__row {
    border-bottom: 1px $row-separator-color solid;
    display: flex;
    flex-flow: row;
    line-height: 2.2rem;
    padding: 2.6rem 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  & [class="ygr-table__row"]:last-of-type {
    border-bottom: none;
  }

  &__category-image,
  &__content-lead,
  &__content,
  &__actions {
    align-self: center;
    flex: 1;
  }

  &__actions {
    display: flex;
    flex: unset;
    justify-content: flex-end;
    text-align: end;
    width: 16rem;
  }

  &__content-text {
    color: $text-color;
    font-size: var(--very-important-font-size);
    font-weight: var(--medium-font-weight);
  }

  &__content-subtext {
    color: $subtext-hint-color;
    font-size: var(--important-font-size);
    font-weight: var(--normal-font-weight);
  }

  &__content-hint {
    color: $subtext-hint-color;
  }

  &__category-image {
    flex: unset;
    margin-right: 1.6rem;
    width: 6rem;

    &--regular::before {
      background-image: url(../../assets/icons/regular-race.png);
      content: ' ';
      display: block;
      height: 5.8rem;
      width: 100%;
    }

    &--premium::before {
      background-image: url(../../assets/icons/premium-race.png);
      content: ' ';
      display: block;
      height: 5.8rem;
      width: 100%;
    }

    &--private::before {
      background-image: url(../../assets/icons/private-race.png);
      content: ' ';
      display: block;
      height: 5.8rem;
      width: 100%;
    }
  }

  &__content-lead {
    flex: 2;
  }

  // table with background
  &--background {
    & .ygr-table__row {
      &--background {
        /* top, transparent red, faked with gradient */
        background: linear-gradient(var(--table-header-bg-color), var(--table-header-bg-color)),
        /* bottom, image */
        url(../../assets/backgrounds/table-head.jpg);
        background-size: cover;
        color: var(--purple-color);
        font-size: var(--very-important-font-size);
        font-weight: var(--bold-font-weight);
        height: 6rem;
        line-height: var(--very-important-font-size);
        padding-top: 2rem;
        position: relative;
      }

      border-bottom: none;
      padding: 1.6rem 3rem;
    }

    & .ygr-table__row:nth-child(even) {
      background-color: var(--light-blue-color);
    }

    & .ygr-table__row:nth-child(odd) {
      background-color: var(--darker-blue-color);
    }
  }
}
