@import "../util/functions.scss";

@font-face {
  font-family: "FivoSans";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/FivoSans-Regular.eot");
  src:
    url("../../assets/fonts/FivoSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/FivoSans-Regular.woff2") format("woff2"),
    url("../../assets/fonts/FivoSans-Regular.woff") format("woff"),
    url("../../assets/fonts/FivoSans-Regular.ttf") format("truetype"),
    url("../../assets/fonts/FivoSans-Regular.svg#FivoSans") format("svg");
}

@font-face {
  font-family: "FivoSans";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/FivoSans-Medium.eot");
  src:
    url("../../assets/fonts/FivoSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/FivoSans-Medium.woff2") format("woff2"),
    url("../../assets/fonts/FivoSans-Medium.woff") format("woff"),
    url("../../assets/fonts/FivoSans-Medium.ttf") format("truetype"),
    url("../../assets/fonts/FivoSans-Medium.svg#FivoSans") format("svg");
}

@font-face {
  font-family: "FivoSans";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/FivoSans-Bold.eot");
  src:
    url("../../assets/fonts/FivoSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/FivoSans-Bold.woff2") format("woff2"),
    url("../../assets/fonts/FivoSans-Bold.woff") format("woff"),
    url("../../assets/fonts/FivoSans-Bold.ttf") format("truetype"),
    url("../../assets/fonts/FivoSans-Bold.svg#FivoSans") format("svg");
}

@font-face {
  font-family: "FivoSans";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/FivoSans-Heavy.eot");
  src:
    url("../../assets/fonts/FivoSans-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/FivoSans-Heavy.woff2") format("woff2"),
    url("../../assets/fonts/FivoSans-Heavy.woff") format("woff"),
    url("../../assets/fonts/FivoSans-Heavy.ttf") format("truetype"),
    url("../../assets/fonts/FivoSans-Heavy.svg#FivoSans") format("svg");
}

html {
  font-size: 62.5%;
}

body,
button,
input {
  font-family: "FivoSans";
  font-size: 1.4rem;
  font-weight: var(--regular-font-weight);
  line-height: 1;
  line-height: 2.4rem;
  margin: 0;
  position: relative;
}

b {
  font-weight: var(--bold-font-weight);
}

a {
  color: var(--light-gray-color);
  text-decoration: none;

  &:hover {
    color: var(--white-color);
  }
}

$headline-h1-size: 2.4rem;
$headline-h1-line-height: 3.6rem;
$headline-h2-size: $headline-h1-size * 0.75;
$headline-h2-line-height: $headline-h2-size * 1.1111;
$headline-h3-size: $headline-h1-size * 0.625;
$headline-h3-line-height: $headline-h3-size * 1.2;
$headline-h4-size: $headline-h1-size * 0.5;
$headline-h4-line-height: $headline-h4-size * 1.25;
$headline-font-weight: var(--bold-font-weight);

.ygr-h1 {
  color: #fff;
  font-size: $headline-h1-size;
  font-weight: $headline-font-weight;
  line-height: $headline-h1-line-height;
  margin-bottom: 2.4rem;
}

.ygr-h2 {
  color: #fff;
  font-size: $headline-h2-size;
  font-weight: $headline-font-weight;
  line-height: $headline-h2-line-height;
  margin-bottom: 2.4rem;
}

.ygr-h3 {
  color: #fff;
  font-size: $headline-h3-size;
  font-weight: $headline-font-weight;
  line-height: $headline-h3-line-height;
  margin-bottom: 2.4rem;
}

.ygr-h4 {
  color: #fff;
  font-size: $headline-h4-size;
  font-weight: $headline-font-weight;
  line-height: $headline-h4-line-height;
  margin-bottom: 2.4rem;
}
