@import '../variables/colors.scss';

$nav-sidebar-bg-color: var(--nav-sidebar-background-color);

.ygr-nav-sidebar {
  background-color: $nav-sidebar-bg-color;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-x: hidden;
  padding-bottom: 4.4rem;
  padding-top: 8rem;
  position: fixed;
  position: fixed;
  top: 0;
  width: 35rem;

  &::after {
    background-image: url('../../assets/backgrounds/cloudy.png');
    background-repeat: no-repeat;
    background-size: 384rem;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
