@import "../variables/colors.scss";
@import "../variables/font.scss";

.ygr-nav-top {
  align-items: center;
  background-color: var(--more-important-font-size);
  display: flex;
  flex-direction: row;
  font-size: $nav-top-font-size;
  height: var(--nav-top-height);
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: calc(100% - var(--left-sidebar-width));
  z-index: 90;

  &--sidebar {
    background-color: var(--nav-top-background-color);
    left: 0;
    width: var(--left-sidebar-width);
  }

  & svg {
    height: 4rem;
    margin-left: 3.5rem;
    width: 5rem; // its only 4 width, therefore there is already some rem to the right margin
    & path {
      fill: var(--dark-orange-color);
    }
  }

  &__left-nav-part {
    height: 100%;
    width: var(--left-sidebar-width);
  }

  &__logo {
    margin-left: 4rem;
  }

  &__content-part {
  }

  &__motivation {
    margin-left: var(--padding-content);
  }
}
