@import "../variables/colors.scss";
@import "../variables/sizes.scss";
$padding-lr: 4rem;

$nav-sidebar-bg-color: var(--nav-sidebar-background-color);
$heading-height: 5.6rem;

.ygr-nav-sidebar {
  background-color: $nav-sidebar-bg-color;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-x: hidden;
  padding-bottom: 4.4rem;
  padding-left: $padding-lr;
  padding-right: $padding-lr;
  padding-top: 8rem;
  top: 0;
  user-select: none;
  width: var(--left-sidebar-width);

  &::after {
    background-image: url("../../assets/backgrounds/cloudy.png");
    background-repeat: no-repeat;
    background-size: 192rem calc(100% + 20rem);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--left-sidebar-width);
    z-index: -1;
  }

  & a {
    line-height: 1.2;
    text-decoration: none;
  }

  &__Heading {
    align-items: center;
    display: flex;
    font-size: var(--more-important-font-size);
    font-weight: var(--regular-font-weight);
    height: $heading-height;
    margin-left: -($padding-lr);
    margin-right: -($padding-lr);
    padding-left: $padding-lr;
    padding-right: $padding-lr;

    position: relative;

    &:hover {
      .ygr-nav-sidebar__icon {
        & path {
          fill: var(--white-color);
        }
      }

      .ygr-nav-sidebar__heading-text {
        color: var(--white-color);
      }
    }
  }

  &__Heading--active {
    background-color: rgba(255, 255, 255, 0.05);

    & .ygr-nav-sidebar__heading-text {
      color: var(--white-color);
    }

    & .ygr-nav-sidebar__icon path {
      fill: var(--white-color);
    }
  }

  &__Heading--active::before {
    background: linear-gradient(to bottom, #e56a33 0%, #e34a51 100%);
    content: " ";
    height: $heading-height;
    left: 0;
    position: absolute;
    width: 0.5rem;
  }

  &__icon {
    height: 1.6rem;
    position: absolute;
    top: 1.9rem;

    & path {
      fill: var(--light-gray-color);
    }
  }

  &__heading-text {
    color: var(--light-gray-color);
    margin-left: 3rem;
  }

  &__bumper {
    border-bottom: 1px solid var(--light-gray-color-transparent);
    height: 2rem;
    margin-bottom: 2rem;
  }

  &__heading-subtext {
    color: var(--light-gray-color);
    font-size: var(--normal-font-size);
    font-weight: var(--regular-font-weight);
    height: $heading-height/2;
    padding: 0.5rem 0 0.5rem 9rem;
    position: relative;

    &:hover {
      color: var(--white-color);
    }
  }
}

.ygr-nav-footer {
  align-items: center;
  background-color: var(--dark-blue-color);
  bottom: 0;
  display: flex;
  height: 9rem;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
