@import "../variables/colors.scss";
@import "../variables/sizes.scss";

$nav-sidebar-bg-color: var(--nav-sidebar-background-color);

.ygr-nav-sidebar {
  background-color: $nav-sidebar-bg-color;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-x: hidden;
  padding-bottom: 4.4rem;
  padding-top: 8rem;
  top: 0;
  width: var(--left-sidebar-width);

  &::after {
    background-image: url("../../assets/backgrounds/cloudy.png");
    background-repeat: no-repeat;
    background-size: 192rem calc(100% + 20rem);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--left-sidebar-width);
    z-index: -1;
  }
}
