.sg-color-chips {
  display: flex;
  flex-wrap: wrap;
}

.sg-color-chip {
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-top-style: solid;
  border-top-width: 8em;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: var(--regular-font-weight);
  line-height: 1.8rem;
  margin-bottom: 2em;
  padding: 0.5em;
}

.sg-color-chip__name {
  font-weight: var(--bold-font-weight);
} 
